# Virtual environment
fraud_env/

# Python cache files
__pycache__/
*.pyc
*.pyo

# IDE files
.vscode/
.idea/

# Data files (optional)
data/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db
